<div class="w-full">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
	</div>
 
	<div>
		<h2>
			You've posted 
			<%= pluralize(current_user.events.count, "event") %>
			<%= @user.name %>
		</h2>
	</div>

 
	<div>
		<% if @user.events.any? %>
			<ul>
			  <h1>My Events</h1>
				<%= render  @events %>
			</ul>
    <% else %>
			<h3>No Events Found</h3>
		<% end %>
	</div>

  <div>
    <%= link_to "Back to users", users_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>

